body {
    margin: 0;
    padding: 0;
    background-color: #88cfe1 ;/* 4ed1e2 Color institucional  */
    font-family: "Arial"; 
  }
  
  .fondo {
    width: 1270px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 25px;
  }
  