* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
  }
  body {
    background: #ffffff;/* Color institucional  */
    font-size: 16px;
    color: #fff;
  }
  .contenedor {
    width: 90%;
    height: 100%;
    position: relative;
    max-width: 1000px;
    margin: auto;
    background: #4ed1e2 ;
  }

  